# Generating a random sample

Random samples are great when your dataset is too large but you still want a representative sample to work on. Note, however, that this is not truly random but "pseudo-random" (not good enough for cryptography).

## Load the base data

In [1]:
import pandas as pd
import numpy as np

In [2]:
taxiData = pd.read_csv('../input/yellow_tripdata_2013-10.csv', delimiter=',')

In [3]:
taxiData.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,CMT,2013-10-09 14:46:30,2013-10-09 14:56:02,1,1.1,-73.986868,40.756240,1,N,-73.980561,40.764797,CRD,8.0,0.0,0.5,2.12,0.0,10.62
1,CMT,2013-10-09 17:32:08,2013-10-09 17:45:40,1,2.9,-74.001103,40.721382,1,N,-73.952636,40.712134,CRD,12.5,1.0,0.5,4.20,0.0,18.20
2,CMT,2013-10-07 11:47:37,2013-10-07 11:55:42,1,1.2,-73.973728,40.782853,1,N,-73.984120,40.768516,CRD,7.5,0.0,0.5,1.60,0.0,9.60
3,CMT,2013-10-12 04:51:00,2013-10-12 05:00:36,1,2.4,-73.910289,40.776281,1,N,-73.961744,40.765380,CRD,10.0,0.5,0.5,2.20,0.0,13.20
4,CMT,2013-10-13 22:56:01,2013-10-13 23:09:43,1,2.7,-73.980677,40.784765,1,N,-73.958752,40.760543,CRD,12.0,0.5,0.5,2.00,0.0,15.00

## Generate the random sample

In [4]:
taxiSample = taxiData.sample(100000)

## Export the resulting dataset

In [5]:
taxiSample.to_csv('../output/TaxiSample_2013_10.csv')